@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.body-image {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-image: url("images/bg-intro-desktop.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: hsl(0, 100%, 74%);
    min-height: 100vh;
    
}

.outer-container {
    display: flex;    
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 60px;
    margin-right: 40px;
    
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: hsl(240, 8%, 95%);
    max-width: 40%;

}

main h1 {
    font-size: 50px;
    font-weight: 700;
    line-height: 1;
}

main p {
    font-size: 16px;
    font-weight: 400;
    max-width: 100%;
}
.form-register {
    display: flex;
    flex-grow: 0.2;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
   
}

.try-button {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(248, 32%, 49%);
    font-size: 16px;
    color:hsl(240, 8%, 95%);
    border-radius: 10px;
    padding-top: 9px;
    padding-bottom: 9px;
    font-weight: 600;
    width: 100%;
}

.form {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 40px;
    margin-top: 20px;
    max-width: 100%;
    border-radius: 10px;
    width: 100%;
}

.form-email div{
    border: 2px;
    border-style: solid;
    border-color: hsl(246, 25%, 77%);
    border-radius: 5px;
    padding: 20px;
    color: hsl(247, 4%, 52%);
    font-weight: 500;
    margin-bottom: 20px;
}

.claim-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(154, 59%, 51%);
    padding: 20px;
    font-weight: 500;
    color:hsl(240, 8%, 95%);
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.term-services {
    font-size: 12px;
    text-align: center;
    color:hsl(246, 25%, 77%);
    font-weight: 600;
}