@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.body-image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("images/bg-intro-desktop.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: hsl(0, 100%, 74%);
    background-size: 1440px;
    background-position: center;
    min-height: 100vh;
    padding-left: 100px;
    padding-right: 100px;

}

.outer-container {
    display: flex;    
    justify-content: space-between;
    
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: hsl(240, 8%, 95%);
    width: 50%;
}

main h1 {
    font-size: 50px;
    font-weight: 700;
}

main p{
    font-size: 16px;
    font-weight: 400;
}
.form-register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.try-button {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    background-color: hsl(248, 32%, 49%);
    font-size: 16px;
}